<!DOCTYPE html>
<html>

<head>
  <title>{{title}}</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCZ6nlcpPs2GVmmKEEIT1zOWgQ0ddz6Nas">
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCbBJPvYIaR5ozIx_0-uWiGeO9cK4IxHww">
  </script>
  </script>

</head>

<body>

  {{{body}}}

  <script src='/javascripts/script.js'></script>
</body>

</html>